.header-custom {
    margin:10px;
}

table thead {
    background-color: #ffc107!important;
}

table .avatar-user {
    width: 50px !important;
    height: 50px !important;
}
table .media-file {
    width: 250px !important;
    height: 200px !important;
}
table .user-column {
    width: 50px !important;
    height: 50px !important;
}
.select2-container {
    width: 100% !important;
}