.list-option {
    background: #151f28;
    color:#fff;
    float:left;
    font-size: 20px;
    box-shadow: 3px 5px 21px 0px rgba(5, 12, 17, 1);
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.list-cinema {
    width:400px;
}
.list-city {
    width:300px;
}
#scheduleTime {
    z-index: 99999999999 !important;
}

#scheduleTime .schedule-date .active {
    background-color: #265a88;
}

.date {
    width: 90px;
    border: 2px solid #222;
}
.btn-rounded strong {
    font-size: 24px;
    margin-left: -10px;
}
.btn-rounded > div {
    padding-left:5px;
}

.schedule-time {
    margin-bottom: 30px;
}

.schedule-time img{
    width: 165px;
    height: 245px;
    margin-left: 20px;
}
.schedule-time .times button{
    margin-right: 10px;
    margin-bottom: 10px;
}

.schedule-time .times button:hover{
    background-color: #449d44;
    color: #fff;
}

.movie-schedules {
    margin-top: 50px;
}

.movie-schedules h3 {
    border-bottom: 2px solid #608a2e;
    text-transform: uppercase;
    margin: 10px 5px;
    padding: 15px 0;
}

.about--us-content {
    width: 800px;
}

.schedule-date button div{
    color: #fff;
}
.schedule-date button strong{
    color: #fff;
}

.booking-button {
    margin-bottom: 15px;
}

.bhd-trailer-box {
    bottom: 79px !important;
}

.meta-box-type {
    bottom: 75px !important;
}

.rating-point {
    width: 25px;
    height: 25px;
    padding: 0px;
    margin-bottom: 7px;
}
.comment-content p {
    color: #333;
}